<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Donate For A Life</title>
</head>

<body>


   <header class="header"> <!--header container -->

        <h1>Cleanse Your Soul</h1> <!--header container left item -->



        <nav class="header"> 

            <ul> <!--header container left item -->
          
                    <a href="/">Home</a>
              
                {{#if loggedIn}} 
              
                   <a href="log out">log Out</a>
              
                {{else}}
            
                   
                    <a href="/login">login</a>
            
                {{/if}}

              
                    {{!-- <a href="profile">Profile</a> --}}

    
                
            </ul>

        </nav>

    </header>

  <main>
    {{{body}}}
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>