<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- <link rel="stylesheet" href="/path/to/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" /> --}}
  <title>Donate For A Life</title>
</head>

<body>


   <header class="header"> <!--header container -->

        <h1>A Greater Purpose!!!</h1> <!--header container left item -->



        <nav class="header"> 

  
          
                    <a href="/">Home</a>
                    
              
                {{#if loggedIn}} 
              
                  <a href="/" id="logout">logout</a>
                  <a href="/iteminput" id="iteminput">User Page</a>

              
                {{else}}
            
                   
                    <a href="/login">login</a>
            
                {{/if}}

              
                    {{!-- <a href="profile">Profile</a> --}}

        </nav>

    </header>
    
                
        


  <main>
    {{{body}}}
  </main>

 

  
    

  
</body>

 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{!-- <script>$(function () {$('#datepicker').datepicker();})</script> --}}
  {{/if}}

</html>