
<div class="hero-cont">
<h1>Donate Item</h1>
    <!--header container left item -->
</div>


<div class="middle2">
    <!--header container -->

    


    <!-- // drop menu -->
    <div class="headerbox">
    </div>


    <div class="action">
        <form class="item-form" action="">

            <div class="drop">
                <select name="category" id="category">
                    <option value="1">Book</option>
                    <option value="2">Jacket</option>
                    <option value="3">Shirt</option>
                    <option value="4">Pants</option>
                    <option value="5">Hat</option>

                </select>
            </div>

            <label for="first name">First Name:</label>
            <input type="text" placeholder="First Name" name="name" id="first-name" class="form-input">

            <label for="last name">Last Name:</label>
            <input type="text" placeholder="Last Name" name="name" id="last-name" class="form-input">
            <br>

            <label for="Address">Pickup Address: &nbsp&nbsp&nbsp </label>
            <input type="text" placeholder="Address" name="Address" id="address" class="form-input">


            <label for="phone number">Phone Number: &nbsp&nbsp&nbsp </label>
            <input type="text" placeholder="Phone Number" name="phonenumber" id="phone-number" class="form-input">
            <br>


            <label for="item">Item Name:&nbsp</label>
            <input type="text" placeholder="Item Name" name="item" id="item" class="form-input">
            <br>

            <label for="item description">Item Description:&nbsp</label>
            <input type="text" placeholder="Item Description" name="itemdiscription" id="item-drscription"
                class="form-input">


            <br>

            <label for="date">Pickup Date:</label>
            <br>

            <input type="date" id="date" name="date">
            





            <div class="create-button">
            <button type="create" id="item-form">Submit</button>
            </div>
        </form>
    </div>

</div>

<script src="/js/iteminput.js"></script>