<div class="header3">
    <!--header container -->

    <h1 style="color:blue;">Greater Purpose!</h1>
    <!--header container left item -->


    <!-- // drop menu -->




    <div class="headerbox">
    </div>

    <div class="contant">
        <label for="Category">Category:</label>
    </div>

    <div class="action">
        <form class="item-form" action="">

            <div class="drop">
                <select name="Category" id="category">
                    <option value="Book">Book</option>
                    <option value="Jacket">Jacket</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Hat">Hat</option>

                </select>
            </div>

            <label for="first name">First Name:</label>
            <input type="text" placeholder="First Name" name="name" id="first-name" class="form-input">

            <label for="last name">Last Name:</label>
            <input type="text" placeholder="Last Name" name="name" id="last-name" class="form-input">
            <br>

            <label for="Address">Address: &nbsp&nbsp&nbsp </label>
            <input type="text" placeholder="Address" name="Address" id="address" class="form-input">


            <label for="phone number">Phone Number: &nbsp&nbsp&nbsp </label>
            <input type="text" placeholder="Phone Number" name="phonenumber" id="phone-number" class="form-input">
            <br>


            <label for="item">Item Name:&nbsp</label>
            <input type="text" placeholder="Item Name" name="item" id="item" class="form-input">
            <br>

            <label for="item description">Item Description:&nbsp</label>
            <input type="text" placeholder="Item Description" name="itemdiscription" id="item-drscription"
                class="form-input">


            <br>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date">






            <button type="create" id="item-form">Submit</button>
        </form>
    </div>

</div>

<script src="/js/iteminput.js"></script>