<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Donate For A life</title>
</head>

<body>
    <header>
        <h1>Clenze your spirit</h1>
    </header>


    <style background-image: url('img_girl.jpg')>
        
    </style>
  

    <!-- // assign the first Api to id catinfo -->
    <section class="hero">
        <div class="hero-cont">
            <h2>Great Purpose!</h2>
            <p id="Item">

            </p>
        </div>
        <!-- // get the user data by class-->
        <div class="hero-form">
            <h3>Donate</h3>
            <p>Filfill your spirits by helping others</p>
            <!-- // get the user data -->
            <form>
                <label for="name">Username:</label>
                <input type="text" placeholder="Your Name" name="name" id="name" class="form-input">
                <label for="password">Password:</label>
                <input type="text" placeholder="password" name="password" id="password" class="form-input">
                
                <button type="submit" id="formsubmit">Submit</button>
            </form>
        </div>
    </section>
    <!-- //create the flex box row  with three blocks -->
    
        

            
        
    <!-- //create the page footer -->
    <footer class="end">

        
        
        
    </footer>
    <!-- include smtpjs to send emails to the user -->
    <script scr="https://smtpjs.com/v3/smtp.js"></script>
    {{!-- <script src="./script.js"></script> --}}

    <script src="/js/login.js"></script>

</body>

</html>