
<!-- Main Page -->

    <!-- End List of Item Div's -->
    <div class="headerbox">

    </div>

    <div class="middle">

        <p>Donating to charity is a major mood-booster. The knowledge that you’re helping others is hugely empowering and, in turn, can make you feel happier and more fulfilled. Research has identified a link between making a donation to charity and increased activity in the area of the brain that registers pleasure - proving that as the old adage goes, it really is far better to give than to receive.

            Our own research into why people give supports this. We asked 700 of our generous donors to tell us what motivates them to give regularly to charity; 42% agreed the enjoyment they receive from giving as a key influence. 
            </p>
  


    <div class="girl-image">
        <img src="/images/girl.jpg" alt="Girl Holding Flowers" width="400" height="400">
    </div>
    </div>
    <!-- End Main Page -->