<!-- Page Title -->
<div class="hero-cont">
  <h2>User Login/Register Page!!!</h2>
</div>
<!-- End Page Title -->

<!-- Start Login and Register Section -->
<section class="hero">

  <!-- Log In Form -->
  <div class="hero-form">
    <h3>Log In</h3>
    <p>Fulfill your spirits by helping others</p>
    <form class="login-form">
      <label for="name">Username:</label>
      <input type="text" placeholder="Your Name" name="name" id="user-login" class="form-input">
      <label for="password">Password:</label>
      <input type="text" placeholder="Your Password" name="password" id="password-login" class="form-input">
      <button type="submit" id="login-form">Submit</button>
    </form>
  </div>
  <!-- End Log In Form -->

  <!-- Register Form -->
  <div class="hero-form">
    <h3>Register</h3>
    <p>Create your Account</p>

    <form class= "signup-form">
      <label for="name">Create Username:</label>
      <input type="text" placeholder="Create Username" name="name" id="username-signup" class="form-input">
      <label for="email">Enter your email:</label>
      <input type="email" placeholder="Enter Email"  name="email" id="email-signup" class="form-input">
      <label for="create password"> Create Password:</label>
      <input type="text" placeholder="Create password" name="password" id="password-signup" class="form-input">

      <button type="create" id="signup-form">Create</button>
    </form>
  </div>
  <!-- End Register Form -->
</section>
<!-- Start Login and Register Section -->



<script src="/public/js/login.js"></script>